# Gradle
.gradle
build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea
*.iml
*.ipr
*.iws
.vscode
.classpath
.project
.settings

# OS
.DS_Store
Thumbs.db

# Other
*.log
.env
.env.*
!.env.example
frontend
docker-compose.yml
Dockerfile
README.md
